---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Posts from "@/layouts/Posts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base
  title="Blog"
  meta_title="Blog | Ciara's Classroom"
  description="Ideas, resources and inspiration for supporting inclusion in diverse and multicultural primary classrooms — from Ciara's Classroom."
>
  <section class="section">
    <div class="container">
      <h1 class="h2 mb-12 text-center">Blog</h1>
      <Posts posts={currentPosts} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>
