---
import { Icon } from "astro-icon/components";
import {
  IoCall,
  IoGlobeOutline,
  IoLocation,
  IoLogoBehance,
  IoLogoBitbucket,
  IoLogoCodepen,
  IoLogoDiscord,
  IoLogoDribbble,
  IoLogoFacebook,
  IoLogoFoursquare,
  IoLogoGithub,
  IoLogoGitlab,
  IoLogoInstagram,
  IoLogoLinkedin,
  IoLogoMastodon,
  IoLogoMedium,
  IoLogoPinterest,
  IoLogoReddit,
  IoLogoRss,
  IoLogoSkype,
  IoLogoSlack,
  IoLogoSnapchat,
  IoLogoSoundcloud,
  IoLogoTiktok,
  IoLogoTumblr,
  IoLogoTwitter,
  IoLogoVimeo,
  IoLogoVk,
  IoLogoWhatsapp,
  IoLogoYoutube,
  IoMail,
  IoPencilSharp,
} from "react-icons/io5";
import Base from "@/layouts/Base.astro";
---

<Base>
  <section class="section">
    <div class="container flex items-center justify-center">
      <ul class="space-y-4">

        <!-- blog -->
        <li>
          <a
            href="https://ciarasclassroom.com/blog"
            class="flex items-center space-x-4 hover:text-blue-500"
          >
            <IoPencilSharp size={50} />
            <span>Blog</span>
          </a>
        </li>

        <!-- Instagram -->
        <li>
          <a
            href="https://instagram.com/ciarasclassroom"
            class="flex items-center space-x-4 hover:text-blue-500"
          >
            <IoLogoInstagram size={50} />
            <span>Instagram</span>
          </a>
        </li>

        <!-- Teachers Pay Teachers -->
        <li>
          <a
            href="https://www.teacherspayteachers.com/Store/Ciaras-Classroom"
            class="flex items-center space-x-4 hover:text-blue-500"
          >
            <Icon name="tpt" size={50} />
            <span>Teachers Pay Teachers</span>
          </a>
        </li>

        <!-- Rahoo -->
        <li>
          <a
            href="https://www.online-courses-rahoo.ie/a/aff_shpkwxq4/external?affcode=191011_tfwrgahl"
            class="flex items-center space-x-4 hover:text-blue-500"
          >
            <Icon name="rahoo" size={50} />
            <span>Diversity &amp; Inclusion in the Classroom</span>
          </a>
        </li>

        <!-- Mash.ie -->
        <li>
          <a
            href="https://mash.ie/ciaras-classroom"
            class="flex items-center space-x-4 hover:text-blue-500"
          >
            <Icon name="mash" size={50} />
            <span>Mash</span>
          </a>
        </li>

        <!-- Pinterest -->
        <li>
          <a
            href="https://pinterest.com/ciarasclassroom"
            class="flex items-center space-x-4 hover:text-blue-500"
          >
            <IoLogoPinterest size={50} />
            <span>Pinterest</span>
          </a>
        </li>

        <!-- TikTok -->
        <li>
          <a
            href="https://www.tiktok.com/@ciarasclassroom"
            class="flex items-center space-x-4 hover:text-blue-500"
          >
            <IoLogoTiktok size={50} />
            <span>TikTok</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</Base>
